<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="isloggedin" xsi:type="string">Ktpl\General\CustomerData\IsLoggedIn</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Cart">
        <plugin disabled="false" name="NamespaceModuleBlockCartBeforePlugin" sortOrder="1" type="Ktpl\General\Plugin\Magento\Checkout\Block\Cart"/>
    </type>
</config>
