<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Prateek Karanpuria <prateek.karanpuria@krishtechnolabs.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_user_authenticate_after">
        <observer name="after_admin_login_save_log"
                  instance="Training\AdminLoginLogs\Observer\Backend\SaveAdminLoginLogs" />
    </event>
</config>
