<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * @author Prateek Karanpuria <prateek.karanpuria@krishtechnolabs.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Training_Testimonial" setup_version="1.0.4">
        <sequence>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>
