<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Ktpl::third_level" parent="Ktpl::top_level" module="Ktpl_ShippingDate" resource="Magento_Backend::content" sortOrder="9999" title="Shipping Date"/>
		<add action="ktpl_shippingdate/holiday/index" id="Ktpl_ShippingDate::ktpl_shippingdate_holiday" module="Ktpl_ShippingDate" parent="Ktpl::third_level" resource="Magento_Backend::content" sortOrder="9999" title="Manage Shipping Date"/>
	</menu>
</config>
