<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="shipping_date" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="10" translate="label">
			<label>Shipping Date</label>
			<tab>ktpl</tab>
			<resource>Ktpl_ShippingDate::config_ktpl_shippingdate</resource>
			<group id="general" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="is_enabled" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Module Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
