<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Default content for backend settings
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <newsletter>            
            <general>
                <popup_title>What are you waiting for?</popup_title>
                <popup_subtitle>Be the first to know about Sales and Promotions!</popup_subtitle>
                <popup_message>Join the mailing list.</popup_message>
            </general>
        </newsletter>
    </default>
</config>
