<!--
/*
 * Copyright © 2017 Rocket Bazaar. All rights reserved.
 * See COPYING.txt for license details
 */
 -->
 <div class="payment-option _collapsible opc-payment-additional discount-code iwd-discount-code-wrapper iwd-opc-additional-blocks"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}, myTestHandler: {} ">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action iwd-action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Discount Codes'--><!-- /ko -->
        </span>
    </div>
    <div class="iwd-payment-option-content payment-option-content" data-role="content">

        <form class="form form-discount iwd-discount-form iwd-additional-block-form-wrapper" id="discount-form" data-bind="blockLoader: isLoading">
            <div class="payment-option-inner">
                <div class="field">
                    <label class="label iwd-additional-block-code-label" for="discount-code">
                        <span class="iwd-additional-block-code-name" data-bind="i18n: 'coupon code:'"></span>
                    </label>
                    <div class="control">
                        <input type="text" class="input-text" id="discount-code-mask" name="discount_code_mask" value="" data-bind="attr:{placeholder: $t('Enter discount code')}" data-validate="{'required-entry':true}"/>
                        
                        <input class="input-text"
                               type="hidden"
                               id="discount-code"
                               name="discount_code" 
                               data-bind="value: couponCode"/>
                    </div>
                </div>
            </div>
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="iwd-actions-toolbar actions-toolbar">
                <div class="primary">
                    <button class="action iwd-action-code-button iwd-action-apply action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">
                        <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
        <div id="applied-coupons" class="applied-coupons">
            <div class="rb-component-wrapper" data-bind="visible: (appliedCoupons().length > 0)">
                <span class="applied-coupons-header" data-bind="text:$t(appliedCouponSectionHeader)"></span>
                <ul data-bind="foreach: appliedCoupons()" class="coupon-list">
                    <li class="coupon">
                        <span data-bind="text: $data"></span>
                        <div class="action-toolbar">
                            <a class="action action-delete" href="javascript:void(0)" data-bind="click: $parents[0].removeCouponCode, attr: {value: $data, title: $t('Remove')}"><span><!-- ko i18n: 'Remove'--><!-- /ko --></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>